{
  "extends": "@meteorjs/eslint-config-meteor",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "comma-dangle": [2, "never"],
    "semi": [2, "never"],
    "no-extra-semi": "error",
    "max-len": 0,
    "import/no-extraneous-dependencies": "off",
    "import/no-absolute-path": "off",
    "import/extensions": "off",
    "class-methods-use-this": "off",
    "react/forbid-prop-types": "off"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "meteor": true
  },
  "globals": {
    "Bert": false,
    "Meteor": false,
    "FlowRouter": false
  }
}
